
body {
    background-image: src = ("template/hih+.png");
    background-repeat: repeat-y -x;
    text-align: center;
  }

P { font-family: 'Nioc Tresni', sans-serif;
                                                }
                                                
