.image-box {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.image-box img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.image-box:hover img {
  transform: scale(1.1);
}
